extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3
        .row
            .col-12
                +box-head(pageTitle)

        .row
            each item in categories
                .col-12.col-md-6.mb-3
                    .card.h-100
                        img(src=item.image, alt=item.title, class="card-img-top img-fluid")
                        .card-body
                            h5.card-title #{item.title}
                            a(href=`/tours/${item.slug}`, class="btn btn-primary") Xem chi tiết
